header {
  position: fixed;
  display: flex;
  width: calc(100% - 4.8rem);
  align-items: center;
  background: transparent;
  padding: 0 2rem;
  left: 50%;
  transform: translate(-50%);
  top: 2rem;
  margin: 0 auto;
  z-index: 1000;
  height: 8rem;
  transition: all 0.3s ease-in-out;

  &.scroll {
    background: #17191c;
  }

  .logo-box {
    display: flex;
    align-items: center;
    width: 10.7rem;
    height: 3.2rem;

    h1 {
      position: relative;
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;

    .nav-list {
      display: flex;
      gap: 4.8rem;

      li {
        font-size: 1.6rem;
        font-weight: 500;
        color: #8b8c8d;

        a {
          display: inline-block;
        }
      }
    }
  }
}