@use '../base/mixin.scss' as *;

// 인트로 섹션
.intro-section {
  width: 100%;
  height: 100vh;
  height: 100dvh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background: linear-gradient(to bottom, transparent 0%, #000000 100%);
  }
}

// 소개 섹션
.about-section {
  position: relative;
  padding: 8rem 2rem 8rem;

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 10rem;
    row-gap: 1.2rem;
    font-weight: 700;

    .text {
      width: 91rem;
      display: flex;
      gap: 0.2rem;
      justify-content: center;
      overflow: hidden;

      span {
        position: relative;
        top: 10rem;
      }
    }
  }

  .about-description {
    width: 91rem;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 4.8rem;
    line-height: 1.8;
  }
}

// 작업 섹션
.work-section {
  position: relative;
  height: auto;
  padding: 0 4rem 16rem;
  max-width: 1440px;
  margin: 0 auto;



  .work-container {
    overflow: hidden;

    .work-title {
      color: #ffffff;
      font-size: 10rem;
      text-align: center;
      margin-top: 20rem;
      font-weight: 700;
      overflow: hidden;

      span {
        position: relative;
        top: 10rem;
      }
    }

    .work-list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 6rem;

      li {
        width: calc((100% - 6rem) / 4); // 4개씩 한 줄, gap 2rem * 3
        height: 30rem;
        border-radius: 0.8rem;
        background-color: red;
      }
    }
  }
}