@import '../../styles/variables';
@import '../../styles/mixins';

.logo {
    &__text {
        margin: 0;
        @include flex-column;
        align-items: flex-start;
        gap: $spacing-xs;
    }

    &__name {
        font-family: $font-family-secondary;
        font-size: $font-size-2xl;
        font-weight: $font-weight-bold;
        color: $primary-color;

        @include mobile {
            font-size: $font-size-xl;
        }
    }

    &__title {
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        color: $text-light;
        font-family: $font-family-primary;

        @include mobile {
            font-size: $font-size-xs;
        }
    }
}